@use "index" as *;

// Basic config
body,
html {
  background-color: $main-color;
  font-size: 15px;
  color: $main-color;
}

h1 {
  text-transform: uppercase;
}

// layout for boxes
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: 400px;
  margin: 7% 0;
  
  

  :nth-child(1){
    background-color: $sedan-color;
    border-radius: 10px 0 0 10px;
    @include buttonsColors($sedan-color);

  }
  :nth-child(2){
    background-color: $suv-color;
    @include buttonsColors($suv-color);
  }
  :nth-child(3){
    background-color: $luxury-color;
    border-radius: 0 10px 10px 0;
    @include buttonsColors($luxury-color);
  }

  div {
    padding: 3ch;
  }

  button {
    border: 2px $main-color solid;
    border-radius: 20px;
    padding: 2ch 3ch;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: 377px) {
    body {
      margin: 2ch 3ch;
    }
    .container {
      margin: 4px 5ch;
    }
    .sedan {
      border-radius: 10px 10px 0 0;
    }
    .lux {
      border-radius: 0 0 10px 10px;
    }
  }
}

